<app-card-presentation></app-card-presentation>
<div class="col-md-9">
    <div class="col-md-12">
            <div class="row mat-elevation-z3 banner">
                    <h1 class="about">Acerca de mí</h1>
                    <h3 class="my-profesion">Inspired Project</h3>
            
                    <hr>
                    <div class="content">
                        <p>
                            Bienvenidos a mi blog, soy
                            <strong>Yesid Rico</strong>, Desarrollador Web Profesional. Nací hace 20 años en Medellín, Antioquia (Colombia),
                            actualmente me dedico al desarrollo de aplicaciones web, móviles, ecritorio, etc.
                        </p>
                        <p>He creado este blog por que quiero compartir mis conocimientos por medio de este y mi
                            <a href="#">canal de Youtube</a>, que mejor forma de aprender que enseñar a otros, he tenido la oprtunidad de partipar
                            en grandes eventos tecnologicos, realizado por las instituciones de mi pais entre ellos SENASoft 2017 Valle
                            del Cauca fue una gran experiencia para mi, y mis compañeros.
                        </p>
            
                        <mat-card>
                            <img mat-card-image src="assets/img/senasoft.jpg" alt="Photo of a Shiba Inu">
                        </mat-card>
                    </div>
            
                </div>
    </div>
</div>
