<div class="col-md-3">
  <div class="row card-cols">
    <mat-card>

      <img mat-card-image class="card-banner" src="assets/img/banner-profile.jpg" alt="banner">
      <div mat-card-avatar class="avatar-image card-avatar"></div>
      <mat-card-title>Yesid Rico</mat-card-title>
      <mat-card-subtitle>Desarrollador Web Profesional FullStack</mat-card-subtitle>
      <mat-card-subtitle>
        <div class="fa-2x">
          <a href="https://github.com/YesidRico" target="_blank" class="icon-github">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/yesid-rico-674300107/" target="_blank" class="icon-linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCKikmKpShKRFS48VyqJLfJw?view_as=subscriber" target="_blank" class="icon-youtube">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100009545477687" target="_blank" class="icon-facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://plus.google.com/u/0/117898572568724350002" target="_blank" class="icon-google-plus">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </div>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <a routerLink="/sobre-mi">Ver Más</a>
      </mat-card-subtitle>
    </mat-card>
  </div>

  <div class="row card-cols">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size: 18px;">Acerca</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <li>Vive en
          <a href="#">Medellín</a>
        </li>
        <li>De
          <a href="#">Medellin</a>
        </li>
        <li>Trabajo en
          <a href="#">Freelancer</a>
        </li>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row card-cols">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size: 18px;">Mis momentos Libres</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <li>Jugar al futbol</li>
        <li>Practicar técnica vocal</li>
        <li>Escribir en mi blog</li>
      </mat-card-content>
    </mat-card>
  </div>
</div>