<app-card-presentation></app-card-presentation>

<div class="col-md-6">
  <div class="row card-cols">
    <div class="mat-elevation-z2 articulos">
        <div class="row">
           <div class="col-md-12">
              <mat-card class="mat-elevation-z0">
                  <mat-form-field style="width: 100%;">
                    <textarea matInput placeholder="¿Qué tema tienes para hoy?"></textarea>
                  </mat-form-field>
                  <button mat-button><i class="far fa-images"></i> Agregar Imagen</button>
                  <button mat-button>Publicar</button>
                </mat-card>
           </div>
          </div>

      <h1 class="title-main-article">Últimos Artículos</h1>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Yesid Rico</mat-card-title>
              <mat-card-subtitle>Publicado Dec 20</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>VER CUERSO</button>
              <button mat-button>LEER CURSO</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Yesid Rico</mat-card-title>
              <mat-card-subtitle>Publicado Dec 26</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Yesid Rico</mat-card-title>
              <mat-card-subtitle>Publicado Dec 26</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Yesid Rico</mat-card-title>
              <mat-card-subtitle>Publicado Dec 26</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
</div>

<app-card-promocional></app-card-promocional>